 .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
  }
  
  .v {
    display: flex;
    align-items: center;
  }
  
  .my-2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }


  input{
    text-align: center;
    border-radius: 10px;
    height: 40px;
  }

  .button-container {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .button-container button {
    font-weight: 400;
    margin-left: 20px;
    margin-right: 10px; 
    width: 150px;
    height: 40px;
    background-color: #f86161;
    color: white;
    border: #f86161;
    border-radius: 15px;
  }

  .button-container :hover{
    background-color: #c40101;
    transform: scale(1.1);
	  transition: 0.5s;
  }
  
  @media (max-width: 800px) {
    input{
      margin: 10px;
      width: 30%;
      text-align: center;
      border-radius: 10px;
      height: 40px;
    }
  
    .button-container {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }